name: seu_barriga_cypress_project

on:
  push:
    branches:
      - main

jobs:
  cypress-run:
    runs-on: ubuntu-latest

    steps:

      - name: Checkout code
        uses: actions/checkout@v4


      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '16'

      - name: Install dependencies including faker        
        run: |    
          npm install
          npm install faker --save-dev

      - name: Run Cypress
        env:
            PASSWORD: ${{ secrets.PASSWORD }}
        run: npx cypress run --env pwd="$PASSWORD"